body{
	background-image: url("../images/pattern.png");
	padding: 0;
	margin:0;
}
#container {
	width: 980px;
}	
#header {
	width: 100%;
	left: 0px;
	right: 0px;
	height: 100px;
	background-color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 1px solid #cccccc;
	position: relative;
	top: -30px;
}
#footer {
	height: 100px;
	background-color: #666666;
	bottom: 0px;
	margin-top: 60px;
	position: relative;
	clear: both;
}
#myname {
	width: 170px;
	background-color: #4aaaa5;
	color: white;
	padding: 33px;
	text-align: center;
	margin-left: 159px;
	font-size: 30px;
	}
#nav {
	width: 600px;
	position: relative;
	top: -85px;
	left: 600px;
}
li {
	display: inline-block;
	padding: 4px;
	color: grey;
}
.Name,
.Email,
.Message {
	font-size: 18px;
	color: grey;
	position: relative;
	left: 20px;
	margin-top: 3px;
}
::-webkit-input-placeholder {
	color: lightgrey;
	padding-left: 10px;
	font-size: 14px;
}
#title {
	font-size: 25px;
	color: #4aaaa5;
	margin-left: 10px;
	padding: 10px;
	padding-top: 10px;
}	
#copyright {
	color: white;
	padding: 1px;
	position: relative;
	margin-top: 30px;
	text-align: center;
	left: -340px;
}
#blank {
	height: 8px;
	background-color: #4aaaa5;
}
.horzRule {
	width: 358px;
	height: 2px;
	background-color: #cccccc;
	position: relative;
	left: 20px;
	top: -20px;
}
#content {
	width: 730px;
	position: relative;
	left: 156px;
	margin-top: 10px;
}
#title {
	font-size: 25px;
	color: #4aaaa5;
	margin-left: 10px;
	padding: 10px;
	padding-top: 6px;
}
#connect {
	float: left;
	width: 267px;
	background-color: white;
	height: 200px;
	margin-left: 40px;
	}
#connectwithme {
	position: relative;
	color: #4aaaa5;
	font-size: 25px;
	left: 35px;
	top: 20px;
}
#horzRule2 {
	width: 210px;
	height: 2px;
	background-color: #ccc;
	margin-left: 20px;
	margin-top: 35px;	
}
#title {
	font-size: 25px;
	color: #4aaaa5;
	margin-left: 10px;
	padding: 10px;
	padding-top: 6px;
}
#connect {
	float: left;
	width: 267px;
	background-color: white;
	height: 200px;
	margin-left: 40px;
	}
#horzRule2 {
	width: 210px;
	height: 2px;
	background-color: #ccc;
	margin-left: 20px;
	margin-top: 35px;
}
#connect {
	float: left;
	width: 267px;
	background-color: white;
	height: 200px;
	margin-left: 40px;
	}
#horzRule2 {
	width: 210px;
	height: 2px;
	background-color: #ccc;
	margin-left: 20px;
	margin-top: 35px;	
}
input[type="text"] {
	height: 230px;
}
input[type="submit"] {
	background-color: #4aaaa5;
	width: 80px;
	color: white;
	height: 35px;
	font-size: 14px;
}
.pic1,
.pic2,
.pic3 {
	width: 50px;
	height: 50px;
	float:left;
	padding: 3px;
	margin-top: 20px;
}
.pic1 {
	margin-left: 22px;
}
.clear {
	clear: both;
} 

/*begin of contact*/
#Contact {
	float: left;
	position: relative;
	width: 420px;
	height: 605px;
	background-color: white;
	border: 1px solid #dddddd;	
}
input {
	width: 358px;
	height: 30px;
	border:1px solid #cccccc;
	margin-left: 20px;
	position: relative;
	top: -12px;
}
#title {
	font-size: 25px;
	color: #4aaaa5;
	margin-left: 10px;
	padding: 10px;
	padding-top: 6px;
}
/*begin of index*/
#AboutMe {
	float: left;
	width: 418px;
	height: 800px;
	background-color: white;
	border: 1px solid #dddddd;	
}
.article {
	font-size: 14px;
	color: grey;
	line-height: 36px;
	margin-right: 20px;
	margin-left: 20px;
}
#me {
	width: 358px;
	height: auto;
	float: left;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-right: 20px;
}
/*begin of portfolio*/
#Portfolio {
	float: left;
	width: 410px;
	height: 2050px;
	background-color: white;
	border: 1px solid #dddddd;
}
.education,
.computer,
.experience,
.personality,
.projects {
	width: 353px;
	height: auto;
	position: relative;
	left: 23px;
	float: left;
	margin-bottom: 30px;
	margin-top: 10px;
}
.personality {
	position: relative;
	left: 44px;
}
.computer {
	position: relative;
	left: 23px;
}
.Education {
	width: 333px;
	background-color: #4aaaa5;
	color: white;
	margin-left: 23px;
	text-align: center;
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 24px;
	position: absolute;
	top: 380px;
}
.Computer {
	width: 333px;
	background-color: #4aaaa5;
	color: white;
	margin-left: 23px;
	text-align: center;
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 24px;
	position: absolute;
	top: 760px;
}
.Experience {
	width: 333px;
	background-color: #4aaaa5;
	color: white;
	margin-left: 23px;
	text-align: center;
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 24px;
	position: absolute;
	top: 1155px;
}
.Personality {
	width: 333px;
	background-color: #4aaaa5;
	color: white;
	margin-left: 20px;
	text-align: center;
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 24px;
	position: absolute;
	top: 1545px;
}
.Projects {
	width: 333px;
	background-color: #4aaaa5;
	color: white;
	margin-left: 23px;
	text-align: center;
	padding: 10px;
	padding-top: 16px;
	padding-bottom: 16px;
	font-size: 24px;
	position: absolute;
	top: 1907px;
}