body{
	background-image: url("../images/pattern.png");
	padding: 0;
	margin:0;
}
#container {
	width: 768px;
}	
#header {
	width: 100%;
	left: 0px;
	right: 0px;
	height: 100px;
	background-color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 1px solid #cccccc;
	position: relative;
	top: -30px;
}
#myname {
	width: 170px;
	background-color: #4aaaa5;
	color: white;
	padding: 33px;
	text-align: center;
	margin-left: 20px;
	font-size: 30px;
	}
#nav {
	width: 600px;
	position: relative;
	top: -85px;
	left: 475px;
}
li {
	display: inline-block;
	padding: 4px;
	color: grey;
}
#connect {
	width: 715px;
	background-color: white;
	height: 200px;
	position: relative;
	left: -60px;
	margin-bottom: 40px;
}

#horzRule2 {
	width: 656px;
	height: 2px;
	background-color: #ccc;
	margin-left: 20px;
	margin-top: 35px;
}
.horzRule3 {
	width: 656px;
	height: 2px;
	background-color: #cccccc;
	position: relative;
	left: 23px;
	top: -20px;
}
input {
	width: 671px;
	height: 30px;
	border:1px solid #cccccc;
	margin-left: 20px;
	position: relative;
	top: -12px;
}

#connectwithme {
	position: relative;
	color: #4aaaa5;
	font-size: 25px;
	left: 35px;
	top: 20px;
}
#title {
	font-size: 25px;
	color: #4aaaa5;
	margin-left: 10px;
	padding: 10px;
	padding-top: 10px;
}
#copyright {
	color: white;
	margin-left: 240px;
	padding: 1px;
	position: relative;
	margin-top: 30px;
}
#blank {
	height: 8px;
	background-color: #4aaaa5;
}
.horzRule {
	width: 671px;
	height: 2px;
	background-color: #cccccc;
	position: relative;
	left: 20px;
	top: -20px;
}
#content {
	width: 600px;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}
#footer {
	height: 100px;
	background-color: #666666;
	bottom: 0px;
	margin-top: 20px;
}
.pic1,
.pic2,
.pic3 {
	width: 50px;
	height: 50px;
	float:left;
	padding: 3px;
	margin-top: 20px;
}

.pic1 {
	margin-left: 22px;
}

.clear {
	clear: both;
} 
/*begin of contact*/
#Contact {
	position: relative;
	top: -15px;
	width: 715px;
	height: 605px;
	background-color: white;
	border: 1px solid #dddddd;
	left: -60px;
}
input[type="text"] {
	height: 230px;
}
input[type="submit"] {
	background-color: #4aaaa5;
	width: 80px;
	color: white;
	height: 35px;
	font-size: 14px;
}
.Name,
.Email,
.Message {
	font-size: 18px;
	color: grey;
	position: relative;
	left: 20px;
	margin-top: 3px;
}
::-webkit-input-placeholder {
	color: lightgrey;
	padding-left: 10px;
	font-size: 14px;
}
/*begin of index*/
#AboutMe {
	width: 715px;
	height: 450px;
	background-color: white;
	border: 1px solid #dddddd;
	position: relative;
	left: -60px;
}
.article {
	margin-top: -25px;
	font-size: 14px;
	color: grey;
	line-height: 36px;
	margin-right: 20px;
	margin-left: 20px;
}

#me {
	width: 330px;
	height: auto;
	float: left;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-right: 20px;
}
/*begin of portfolio*/
#Portfolio {
	width: 715px;
	height: 950px;
	background-color: white;
	border: 1px solid #dddddd;
	position: relative;
	left: -55px;
}
.education,
.computer,
.experience,
.personality,
.projects {
	width: 315px;
	height: 240px;
	position: relative;
	left: 24px;
	float: left;
	margin-bottom: 30px;
	margin-top: 10px;
}
.personality {
	position: relative;
	left: 48px;
}
.computer {
	position: relative;
	left: 48px;
}
.Education {
	width: 295px;
	background-color: #4aaaa5;
	color: white;
	margin-left: 24px;
	text-align: center;
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 24px;
	position: absolute;
	top: 270px;
}
.Computer {
	width: 295px;
	background-color: #4aaaa5;
	color: white;
	margin-left: 363px;
	text-align: center;
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 24px;
	position: absolute;
	top: 270px;
}
.Experience {
	width: 295px;
	background-color: #4aaaa5;
	color: white;
	margin-left: 23px;
	text-align: center;
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 24px;
	position: absolute;
	top: 550px;
}
.Personality {
	width: 295px;
	background-color: #4aaaa5;
	color: white;
	margin-left: 363px;
	text-align: center;
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 24px;
	position: absolute;
	top: 550px;
}
.Projects {
	width: 295px;
	background-color: #4aaaa5;
	color: white;
	margin-left: 24px;
	text-align: center;
	padding: 10px;
	padding-top: 16px;
	padding-bottom: 16px;
	font-size: 24px;
	position: absolute;
	top: 816px;
}


